@use 'vars' as v;
@use 'mixins' as m;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import 'utils';
// @import 'components';

html,
body {
    font-family: 'Roboto Condensed', sans-serif;
}

#__next {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: v.$light2;


}

section {
    min-height: 100vh;
    padding: 8rem 3rem 4rem;
}

// Fonts

p {
    line-height: 2rem;
    color: v.$gray;

}


// animaciones

.transition1{
    @apply transition ease-in-out delay-150 duration-700
}

// Themes

.bg-primary {
    background-color: v.$primary;
}

.bg-dark {
    background-color: v.$dark;
    color: white;

    p {
        color: white;
    }

    &.bg1 {
        // background-color: v.$dark;
        opacity: 1;


        position: relative;

        &::before {
            z-index: 0;
            content: "";
            background-repeat: no-repeat;

            background-color: #e5e5f7;
            background-image: url("/bg/xgulag.png");
            background-size: contain;
            position: absolute;
            top: 90%;
            right: 0px;
            bottom: 0px;
            left: 0px;
            mix-blend-mode: multiply;
            opacity: 0.1;
        }
    }
}

.bg-light {
    background-color: v.$light2;
    color: v.$dark;
    font-weight: 600;

    &.bg1 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;

        &::before {
            z-index: 0;
            content: "";
            background-image: url("/bg/backglight.png");
            background-size: cover;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            mix-blend-mode: multiply;
            opacity: 0.2;
        }
    }


}


// background

.bg1 {
    background-color: transparent;

    &::before {

        background-color: #e5e5f7;
        opacity: 0.5;
        background: repeating-linear-gradient(45deg, #444cf7, #444cf7 19px, #e5e5f7 19px, #e5e5f7 95px);

        background-image: radial-gradient(#444cf7 1.9000000000000001px, transparent 1.9000000000000001px), radial-gradient(#444cf7 1.9000000000000001px, #e5e5f7 1.9000000000000001px);
        background-size: 76px 76px;
        background-position: 0 0, 38px 38px;
    }
}

nav {
    -webkit-box-shadow: 0 -1px 5px 2.5px v.$light2;
    -moz-box-shadow: 0 -1px 5px 2.5px v.$light2;
    box-shadow: 0px 2px 5px 0.01px v.$light2;
}

footer {
    -webkit-box-shadow: 0 -1px 5px 2.5px v.$light2;
    -moz-box-shadow: 0 -1px 5px 2.5px v.$light2;
    box-shadow: 1px 2px 5px 0.01px v.$light2;
}